html{
	background-image: url(../img/bg.png);
}
body{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
.file-title {
	text-align: center;
	color: white;
}

.back {
	position: absolute;
	left: .3rem;
	top: 0px;
	line-height: 2rem;
	font-size: 1rem;
	text-align: center;
	color: white;
}
.add{
	position: absolute;
	right: 1rem;
	top: 0px;
	line-height: 2rem;
}
a{
	color: white;
}
.layui-layer{
	background-color: transparent !important; 
}
.layui-layer-hui .layui-layer-content{
	background-color: darkgray;
}
/*二次弹窗内容*/
.opendiv{
	display: none;
	background-color: white;
}
.untyTitle{
	text-align: center;
	line-height: 4rem;
}
button{
	width: 45%;
	color: rgba(72, 156, 245, 1);
	line-height: 2.4rem;
	margin: .2rem;
	border-radius: 10px;
	background-color: white;
	border: none;
}
/*结束*/
/*一次弹窗内容*/
.layui-layer-btn .layui-layer-btn0{
	width: 100%;
	color: rgba(72, 156, 245, 1) !important;
	margin: .2rem;
	border-radius: 10px;
	background-color: white !important;
	border: none;
	text-align: center;
}
.layui-layer-btn a{
	padding: 0 0 !important;
}
.layui-layer-btn .layui-layer-btn1{
	width: 100%;
	margin: .2rem;
	border-radius: 10px;
	background-color: white;
	border: none;
	text-align: center;
}


/*一次弹窗内容结束*/
/*第二次更改*/
.transitCard {
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: rgba(92, 209, 222, 1);
    border-radius: 10px;
    box-shadow: 0px 20px 30px rgba(58, 165, 216, 0.349019607843137);
    padding: 10px;
    color: #fff;
    text-align: right;
    font-size: 1.1rem;
}
.transitCard p.title {
	text-align: left;
}
.transitCard p.title img {
	width: 1.8rem;
    height: 1.8rem;
    margin-right: 10px;
}
.transitCard p.cardNum {
    font-size: 2.2rem;
    margin: 30px auto 15px;
}
.transitCard p.cardName span {
	padding: 4px 10px;
    background: rgba(255,255,255,.5);
    margin-right: -10px;
    font-size: 1rem;
}