.logo {
	text-align: center;
}

.user {
	float: right;
	color: rgba(72, 156, 245, 1);
}

.file-title {
	text-align: center;
}

.logoimg {
	margin-top: 15%;
	margin-bottom: 15%;
}

.logojpg {
	height: 7rem;
	width: 9rem;
}

.cityname {
	text-align: center;
	margin-top: 6%;
}
.layui-input,
.layui-textarea {
	border: none;
}

.get {
	background-color: white;
	color: rgb(72, 156, 245,1);
	border: none;
	position: absolute;
	top: 0rem;
	right: 1rem;
	z-index: 99;
	height: 2rem;
	width: 5rem;
}

.login_btn {
	width: 100%;
	background-color: rgb(72, 156, 245,1);
	border-radius: 5px;
	margin-top: 5%;
}

.footer {
	margin-top: 5%;
}

.register_btn {
	background-color: white;
	color: rgb(72, 156, 245,1);
	border: none;
}

.forget {
	background-color: white;
	border: none;
	color: darkgray;
	float: right;
}

.onerow {
	position: relative;
	vertical-align: middle;
}


/*账号密码登陆*/


/*.userimg{
	background-image:url(../images/mine.png) ;
	height: 2rem;
	width: 2rem;
	background-size: 100% 100%;
	background-color: white;
	color: rgb(72,156,245);
	border: none;
	position: absolute;
	top: 0rem;
	left: 1rem;
}
.pwdimg{
	background-image:url(../images/pwd.png) ;
	height: 2rem;
	width: 2rem;
	background-size: 100% 100%;
	background-color: white;
	color: rgb(72,156,245);
	border: none;
	position: absolute;
	top: 0rem;
	left: 1rem;
}*/

.back {
	position: absolute;
	left: .3rem;
	top: 0px;
	line-height: 2rem;
	font-size: 1rem;
	text-align: center;
	color: rgba(72, 156, 245, 1);
	background-color: rgba(153, 153, 153, 0);
}

.next {
	color: rgb(72, 156, 245,1);
	position: absolute;
	right: 1rem;
	top: 0px;
	line-height: 2rem;
}

.phonemsg {
	color: #FF0000;
	font-size: 10px;
	text-align: center;
	display: none;
}


/*常用地选择*/

.title {
	position: relative;
	width: 100%;
	text-align: center;
}

.wheel-scroll.wheel-scroll-hook {
	margin: 0;
	padding: 0;
}

.pick {
	float: right;
	border: none;
	text-align: right;
}

.right {
	float: right;
}


/*实名认证*/

.authen {
	margin-top: 18%;
}

.submit_btn {
	width: 100%;
	background-color: rgb(72, 156, 245);
	border-radius: 5px;
	margin-top: 5%;
}

.display {
	color: #FF0000;
	font-size: 10px;
	text-align: center;
	display: none;
}

.getCode {
	position: absolute;
	right: 1rem;
	bottom: 9rem;
	color: rgba(72, 156, 245, 1);
	z-index: 999;
}

.formInputBox {
	position: relative;
	border-bottom: 1px solid #eee;
}