html{
	background-color: rgb(247,247,247);
}
.goBack{
	position: absolute;
    left: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgba(153,153,153,0);
    color: #489CF5;
}
.manageTitle{
	font-size: 1.25rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}
.manageContent{
	background-color:white;
	margin: 0 -15px;
}
.contentBox{
	margin-top: 1rem;
	line-height: 2rem;
	background-color: white;
	padding: 0 15px;
    margin: 12px -15px;
}
.contentBox .recordList{
	padding: 1rem 0rem;
	font-size: 1rem;
	border-bottom: 1px solid gainsboro;
}
.contentBox .list{
	color: gray;
	float: right;
}
/*原密码修改登录密码页面*/
.contentList{
	border-bottom: 1px solid gray;
}
.listInput{
	border: none;
}
.sure_btn{
	width: 100%;
	background-color: rgb(0,96,166);
	margin-top: 2rem;
}
.modifyForm{
   margin: 1rem .5rem;
}
.modForm{
	margin: 0 0;
}
