.back {
	position: absolute;
    left: 1rem;
    font-size: 1rem;
    text-align: center;
    color: rgba(72, 156, 245, 1);
    background-color: rgba(153,153,153,0);
}
.title {
	font-size: 1.25rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #000;
}
.contentBox{
	background-color: rgb(243,243,243);
	margin: 0px -15px;
	font-size: 1rem;
	text-align: center;
}
.contentBox img{
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.contentBox .deal{
	margin-bottom: 2rem;
}
.warn p{
	font-size: 1rem;
	line-height: 3rem;
}
.warn .operate{
	text-indent:2em;
}
